<span class="template__title">Character</span>
<div class="character__inner">
  <div class="avatar__inner">
    <img
      class="avatar__img active"
      src="assets/img/characters/udzy.webp"
      alt="udzy"
    />
    <img src="assets/img/characters/" alt="" />
    <button id="change-avatar-btn">
      <img class="avatar__edit" src="assets/img/other/edit.svg" alt="edit" />
    </button>
  </div>

  <div class="character__description">
    <span class="player__name"></span>
    <span class="wins__total">Wins: ?</span>
    <span class="losses__total">Losses: ?</span>
  </div>
</div>

<div class="modal">
  <div class="modal__character">
    <button id="close-character-modal">
      <span class="close__modal-line"></span>
      <span class="close__modal-line"></span>
    </button>
    <img
      src="assets/img/characters/udzy.webp"
      alt="udzy"
      class="avatar__img"
    />
    <img
      src="assets/img/characters/megumi.webp"
      alt="megumi"
      class="avatar__img"
    />
    <img
      src="assets/img/characters/satoru.webp"
      alt="satoru"
      class="avatar__img"
    />
  </div>
</div>
